.login2 {
  background-color: rgb(25, 25, 25);
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;

  .container {
    width: 60%;
    height: 75%;
    display: flex;
    background-color: rgb(35, 35, 35);
    flex-direction: row-reverse;
  }

  .left {
    flex: 1;
    height: 100%;
    background: linear-gradient(
        rgba(14, 89, 89, 0.516),
        rgba(5, 179, 179, 0.509)
      ),
      url("https://images.pexels.com/photos/1521304/pexels-photo-1521304.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
        center;
    background-size: cover;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;

    h1 {
      font-size: 90px;
    }
    button {
      width: 50%;
      padding: 15px;
      border: none;
      background-color: white;
      color: teal;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 100px;

    h1 {
      color: white;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 40px;

      input {
        background-color: rgb(35, 35, 35);
        color: white;
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
        font-size: 16px;

        &:focus {
          outline: none;
          border-bottom: 1px solid #2ca1a1;
        }
      }

      button {
        align-self: center;
        width: 50%;
        padding: 15px;
        border: none;
        background-color: #00aaaa;
        color: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}
